body {
    font-family: 'Heebo';
    background-image: url('../img/skog.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#div-container {
    margin-top: 100px;
}

#div-cities {
    background-color: pink;
    margin-bottom: 150px;
}

#div-sunrise {
    background-color: lightblue;
}
#div-dayLength {
    background-color: pink;
}
#div-sunset {
    background-color: lightblue;
}

#div-left-btn {
    display: flex;
    justify-content: end;
}

#div-right-btn {
    display: flex;
    justify-content: start;
}