body {
    font-family: 'Heebo';
    font-size: x-large;
    background-color: #FBE8C5;
}

#div-cities {
    height: 350px;
    margin-bottom: 100px;
    background-image: url('../img/sjö.jpg');
    /* box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176); */
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
    background-size: 100% 100%;
}

#datum {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#glass-effect {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    margin-top: 20px;
}

#city {
    padding-top: 35px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#tidszon {
    margin: 0;
}

#timezone {
    padding-bottom: 20px;
    font-style: italic;
    font-size: 0.9em;
}


#div-sunrise-dawn {
    display: flex;
    justify-content: center;
    padding-right: 0px;
}

#div-sunrise {
    margin-right: 50px;
}

#div-dawn {
    margin-right: 50px;
}

#div-dayLength {

}

#div-sunset-dusk {
    display: flex;
    justify-content: center;
}

#div-sunset {
    margin-left: 50px;
}

#div-dusk {
    margin-left: 50px;
}

#div-left-btn {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

#left-btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#div-right-btn {
    display: flex;
    justify-content: start;
    margin-top: 30px;
}

#right-btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

